@model Uco.Models.Pagination
@if (Model.PageTotal > Model.PageItems)
{
    int PageTotal = Convert.ToInt32(Math.Ceiling(((decimal)Model.PageTotal / (decimal)Model.PageItems)));
    int PageFrom = 1;
    int PageTo = PageTotal;
    if (PageTo > 10)
    {
        if (Model.PageNumber > 6)
        {
            PageFrom = Model.PageNumber - 5;
            PageTo = Model.PageNumber + 5;
        }
        else
        {
            PageFrom = 1;
            PageTo = 11;
        }
        if (PageTotal < PageTo)
        {
            PageTo = PageTotal;
        }
    }
    <div class="topics2_pagination">
        <div class="page6_bott_part">
            <div class="pagination">
                <ul>
                    @if (Model.PageNumber != PageFrom)
                    {
                        <li><a href="@(Model.Url)?page=@(Model.PageNumber - 10 > 0 ? (Model.PageNumber - 10) : 1)@(!string.IsNullOrEmpty(Model.param) ? "&key=" + Model.param : "")"><img alt="Back" src="~/Content/DesignFiles/back_pagination.png"></a></li>
                    }
                    @for (int i = PageFrom; i <= PageTo; ++i)
                    {
                        <li><a class="link  @(Model.PageNumber == i ? "current" : "")" href="@(Model.Url)?page=@(i)@(!string.IsNullOrEmpty(Model.param) ? "&key=" + Model.param : "")">@(i)</a></li>
                    }
                    @if (Model.PageNumber != PageTo)
                    {
                        <li><a href="@(Model.Url)?page=@(Model.PageNumber + 10 < PageTotal ? (Model.PageNumber + 10) : PageTotal)@(!string.IsNullOrEmpty(Model.param) ? "&key=" + Model.param : "")"><img alt="Next" src="~/Content/DesignFiles/next_pagination.png"></a></li>
                    }
                </ul>
                <div class="clear"></div>
            </div>
            <div class="showing_rslt">@RP.TVL("Showing") @Model.PageItems @RP.TVL("From") @Model.PageTotal @RP.TVL("SearchPages")</div>
            <div class="clear"></div>
        </div>
    </div>
}