@model int
@using Kendo.Mvc.UI;
@using Kendo.Mvc;
@{
    Layout = null;
}
@using Kendo.Mvc.UI;
@using Kendo.Mvc;
@{
    string LangCode = SF.GetLangCode();
    List<string> rltList = new List<string>() { "he-IL" };
    bool RTL = true;
    if (rltList.Contains(LangCode)) { RTL = true; }
    else { RTL = false; }

    string Skin = System.Configuration.ConfigurationManager.AppSettings["SkinDefault"];
    if (Session["SkinSelectList"] != null) { Skin = Session["SkinSelectList"] as string; }
}
<!DOCTYPE html>
<html>
<head>
    <title>Uco Admin | Form</title>
    <meta charset="utf-8" />
    @if (RTL) { @Styles.Render("~/Content/kendo/2013.3.1119/css_admin_rtl") }
    else { @Styles.Render("~/Content/kendo/2013.3.1119/css_admin_ltr") }
    @if (Skin != "BlueOpal") { <text> <link href="~/Content/kendo/2013.3.1119/kendo.@(Skin).min.css" rel="stylesheet" /> </text> }
    @Scripts.Render("~/Scripts/kendo/2013.3.1119/js_admin")
    @Html.Raw(SF.GetLangJS("~/Scripts/kendo/2013.3.1119"))
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
</head>
<body class="@(RTL ? "k-rtl" : "k-ltr")">
    <!--[if lt IE 7]><div class="ie67"><p style='font-weight:bold; font-size:20px; padding:0 10px; text-align:center; margin:20px 0 20px; color:red;'>Your using old and unsuported browser. Upgrade you browser!<br/><a href='http://www.microsoft.com/windows/internet-explorer/default.aspx'>Click here to upgrade.</a></p></div><![endif]-->
    <div>
        @(Html.Kendo().Grid<Uco.Models.FormFild>()
            .Name("FormFildGrid")
            .ToolBar(commands => commands.Create())
            .DataSource(dataSource =>
                dataSource.Ajax()
                    .Model(model => { model.Id(item => item.ID); })
                    .Read(r => r.Action("_FormFild_AjaxIndex", "ListItem", new { ParentID = Model }))
                    .Destroy(r => r.Action("_FormFild_AjaxDelete", "ListItem", new { ParentID = Model }))
                    .Create(r => r.Action("_FormFild_AjaxInsert", "ListItem", new { ParentID = Model }))
                    .Update(r => r.Action("_FormFild_AjaxSave", "ListItem", new { ParentID = Model }))
            )
            .Columns(columns =>
            {
                columns.Bound(r => r.ID).Width(50);
                columns.Bound(r => r.Order).Width(160);
                columns.Bound(r => r.Title);
                columns.Bound(r => r.Required).Width(50);
                columns.Bound(r => r.RequiredTitle).Width(160);
                columns.Bound(r => r.Type).Width(160);
                columns.Command(commands =>
                {
                    commands.Edit();
                    commands.Destroy();
                })
                .Width(210).Title("פקודות");
            })
            .Editable(editing => editing.Mode(GridEditMode.InLine))
        )
    </div>
</body>
</html>
