@{
    SelectList l = new SelectList(System.Configuration.ConfigurationManager.AppSettings["Languages"].Split(',').ToList(), SF.GetLangCodeThreading());

    string SkinDefault = System.Configuration.ConfigurationManager.AppSettings["SkinDefault"];
    if (Session["SkinSelectList"] != null) { SkinDefault = Session["SkinSelectList"] as string; }
    SelectList Skin = new SelectList(System.Configuration.ConfigurationManager.AppSettings["Skin"].Split(',').ToList(), SkinDefault);

    SelectList DomainList = new SelectList(RP.GetSettingsRepositoryList(), "ID", "Domain", RP.GetAdminCurrentSettingsRepository().ID);
}
@using (Html.BeginForm("ChangeLang", "Main"))
{
    <span class="LangSelectList">
        @(Html.Kendo().DropDownList()
            .Name("LangSelectList")
            .Events(e => e.Change("LangSelectListonSelectedIndexChanged"))
            .BindTo(l)
        )
    </span>
}
 |
@using (Html.BeginForm("ChangeSkin", "Main"))
{
    <span class="SkinSelectList">
        @(Html.Kendo().DropDownList()
            .Name("SkinSelectList")
            .Events(e => e.Change("SkinSelectListonSelectedIndexChanged"))
            .BindTo(Skin)
        )
    </span>
}
|
@if (Uco.Infrastructure.Livecycle.LS.CurrentUser.IsInRole("Admin"))
{
    <span class="@(SF.UseMultiDomain() ? "" : "dn")">
        @using (Html.BeginForm("ChangeDomain", "Main"))
        {
            <span class="DomainSelectList">
                @(Html.Kendo().DropDownList()
                .Name("DomainSelectList")
                .Events(e => e.Change("DomainSelectListonSelectedIndexChanged"))
                .BindTo(DomainList)
                )
            </span>
        }
        |
    </span>
}
@Html.R(VirtualPath, "Welcome") @Uco.Infrastructure.Livecycle.LS.CurrentUser.FirstName @Html.ActionLink(@Html.R(VirtualPath, "LogOut"), "LogOut", "Main")
<a class="tosite_link" href="@Url.Content("~/")">@Html.R(VirtualPath, "ToSite")</a>
<script type="text/javascript">
    function LangSelectListonSelectedIndexChanged() {
        document.forms[0].submit();
    }
    function SkinSelectListonSelectedIndexChanged() {
        document.forms[1].submit();
    }
    function DomainSelectListonSelectedIndexChanged() {
        document.forms[2].submit();
    }
</script>
@if (LS.CurrentUser.RolesList.Contains("Admin") && SF.UseMultiDomain())
{
	<script>
		window.setTimeout(function () {
			alert("Session of @(Session.Timeout) min end. You will be redirected to home page.");
			window.location.href = '/Admin';
		}, @(Session.Timeout) * 1000 * 60);
	</script>
}