<footer class="footer">
    <div class="footer-contacts">
        <div class="container">
            <h2>@RP.T("Views.PagePart._MagazineFooter.Title", "כתובתינו: כתובת המערכת")</h2>
            @RP.Text("Views.PagePart._MagazineFooter.Contacts")
        </div>
    </div>
    <div class="footer-nav-block">
        <div class="container">
            <nav class="footer-nav">
                <div class="logo-f">
                    <div class="logo">
                        <a href="/"><img src="~/Content/DesignFiles/Magazines/logo-f.png" alt="iDive"></a>
                    </div>
                    @RP.Text("Views.PagePart._MagazineFooter.Social")
                </div>
                <div class="footer-menu">
                    <div class="col">
                        <div class="nav-heading"><a href="">@RP.T("Views.PagePart._MagazineFooter.FooterMenu1", "חנות צלילה")</a></div>
                        @RP.Text("Views.PagePart._MagazineFooter.FooterMenu1")
                    </div>
                    <div class="col">
                        <div class="nav-heading"><a href="">@RP.T("Views.PagePart._MagazineFooter.FooterMenu2", "תחרות צילום בינלאומית")</a></div>
                        @RP.Text("Views.PagePart._MagazineFooter.FooterMenu2")
                    </div>
                    <div class="col">
                        <div class="nav-heading"><a href="">@RP.T("Views.PagePart._MagazineFooter.FooterMenu3", "חנות צלילה")</a></div>
                        @RP.Text("Views.PagePart._MagazineFooter.FooterMenu3")
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="footer-b">
        <div class="txt" style="float:left">
            Developed by
            <div style="display:inline-block;float: right;margin-left: 10px;">
                <a href="http://www.uco.co.il/" target="_blank">
                    <img src="~/Content/DesignFiles/Credits/uco_white.png" alt="פיתוח תוכנה">
                </a>
            </div>
        </div>
        <div class="container">
            @RP.Text("Views.PagePart._MagazineFooter.Copyright")
        </div>
    </div>
</footer>