@model Uco.Models.AbstractPage
@using Uco.Models;
@{
    Uco.Models.Pagination paging = ViewBag.Pagination;
    var bradcrumbs = SF.GetBradcrumbs(Model);
    string link = Request.Url.Scheme + "://" + Request.Url.Authority + Request.RawUrl;
}

<div class="brdcms">
    <ul>
        <li>
            <a href="/">@RP.T("Homepage.Breadcrumb")</a>
        </li>
        @foreach (var b in bradcrumbs)
        {
            <li>
                <a href="@Url.Content(b.Url)">@b.Title</a>
            </li>
        }
    </ul>
    <div class="clear"></div>
</div>

<div class="page_main_heading"><h2>@ViewBag.H1</h2></div>
<div class="topic1_text1">@Html.Raw(Model.Text)</div>

<div class="topic1_listing">
    <ul>
        @if(paging.PageNumber <= 1)
        { 
            foreach (Uco.Models.AbstractPage item in ViewBag.ArticleListPageItems)
            {
                <li>
                    @if (!string.IsNullOrEmpty(item.Pic))
                    {
                        <div class="topic_lstng_img"><a href="@Url.Content(item.Url)"><img src="@Url.Content(SF.GetImageUrl(item.Pic, 127, 123, false, true))" alt=""></a></div>
                    }
                    <div class="topic_lstng_left" style="@(string.IsNullOrEmpty(item.Pic) ? "float:right; width: 100%;" : "")">
                        <div class="topic_lstng_head"><a href="@Url.Content(item.Url)">@item.Title</a></div>
                        <div class="topic1_lstng_text1">@Html.Raw(item.ShortDescriptionFix)</div>

                        @if (item is Uco.Models.ArticlePage)
                        {
                            if (!string.IsNullOrEmpty(item.Author))
                            {
                                <div class="topic1_lstng_text2">/@RP.T("Views.Page.ArticleListPageList.From"): @item.Author/</div>
                            }
                            if (!string.IsNullOrEmpty((item as ArticlePage).Photographer))
                            {
                                <div class="topic1_lstng_text2">/@RP.T("Views.Page.ArticleListPageList.Photographer"): @(item as ArticlePage).Photographer)/</div>
                            }
                        }
                    </div>
                    <div class="clear"></div>
                </li>
            }
        }


        @foreach (Uco.Models.AbstractPage item in ViewBag.Items)
        { 
        <li>
            @if (!string.IsNullOrEmpty(item.Pic))
            { 
                <div class="topic_lstng_img"><a href="@Url.Content(item.Url)"><img src="@Url.Content(SF.GetImageUrl(item.Pic, 127, 123, false, true))" alt=""></a></div>
            }
            <div class="topic_lstng_left" style="@(string.IsNullOrEmpty(item.Pic) ? "float:right; width: 100%;" : "")">
                <div class="topic_lstng_head"><a href="@Url.Content(item.Url)">@item.Title</a></div>
                <div class="topic1_lstng_text1">@Html.Raw(item.ShortDescriptionFix)</div>
                
                @if (item is Uco.Models.ArticlePage)
                {
                    if (!string.IsNullOrEmpty(item.Author))
                    {
                        <div class="topic1_lstng_text2">/@RP.T("Views.Page.ArticleListPageList.From"): @item.Author/</div>
                    }
                    if (!string.IsNullOrEmpty((item as ArticlePage).Photographer))
                    {
                        <div class="topic1_lstng_text2">/@RP.T("Views.Page.ArticleListPageList.Photographer"): @(item as ArticlePage).Photographer)/</div>
                    }
                }
            </div>
            <div class="clear"></div>
        </li>    
        }
    </ul>
    <div class="clear"></div>
</div>
@Html.Partial("_Pagination", paging)
@if (Model.AddingFacebookComments == true)
{

    @section BodyStart
    {
        @*facebook comments*@
        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/he_IL/sdk.js#xfbml=1&version=v2.3&appId=203720779674228";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        @*facebook comments*@
    }

    <div id="facebook_comment_box_page">
        <div class="fb-comments" data-href="http://insurance.idive.co.il@(Url.Content(Model.Url))" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
    </div>
}
<div class="cmptns_srch1_bott">
    <ul>
        <li>
            <a href="mailto:?subject=Idive - @(Model.Title)&body=@(link)"><img src="/Content/DesignFiles/Idive/user_icon1.png" alt=""></a>
        </li>
        <li>
            <a href="https://twitter.com/share" @(SF.GetLangCodeThreading() == "he-IL" ? "data-lang=he" : "") class="twitter-share-button">Tweet</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
        </li>
    </ul>
    <div class="clear"></div>
</div>
<div class="topic1_load_more">
    @Html.Action("_Banner", "PagePart", new { Num = 1, BannerGroup = "באנר בתחתית עמודי התוכן", pageId = ViewBag.ID })
</div>