@model Uco.Models.ShopBrandPage
@{
    Layout = ViewBag.Layout;
    var bradcrumbs = SF.GetBradcrumbs(Model);
    string link = Request.Url.Scheme + "://" + Request.Url.Authority + Request.RawUrl;
    int taks = int.Parse(RP.GetCurrentSettings().TaksPercent);
}
<div class="brdcms">
    <ul>
        <li>
            <a href="/">@RP.T("Homepage.Breadcrumb")</a>
        </li>
        @foreach (var b in bradcrumbs)
        {
            <li>
                <a href="@Url.Content(b.Url)">@b.Title</a>
            </li>
        }
    </ul>
    <div class="clear"></div>
</div>

<div class="page_main_heading"><h2>@ViewBag.H1</h2></div>
<div class="votes_text1">@Html.Raw(Model.Text)</div>
<div class="shop_lstng_part">
    <ul>
        @{int i = 0;}
        @foreach (Uco.Models.ShopProductPage item in ViewBag.Items)
        {
            i++;
            <li class="@(i % 3 == 0 ? "no_border_dfrnt" : "") @( i > 3 ? "no_border_dfrnt2" : "")">
                <div class="heading_art1">
                    <a href="@Url.Content(item.Url)">@item.Title</a>
                </div>
                <div class="shop_lstn_img1">
                    @if (!string.IsNullOrEmpty(item.Pic))
                    {
                        <a href="@Url.Content(item.Url)">
                            <img src="@Url.Content(SF.GetImageUrl(item.Pic, 202, 123, false, true))" alt="">
                        </a>
                    }
                </div>
                <div class="text_art2">מחיר שוק:<br>@(item.ShopOldPrice.ToString("0.00")) ש”ח</div>
                <div class="text_art3">מחיר לאחר הנחה:<br>@item.ShopPrice ש”ח</div>

                <div class="text_art4" style="min-height:22px">
                    @if (item.ShopOldPrice > 0 && item.ShopPrice < item.ShopOldPrice)
                    {
                        <text>
                            החיסכון שלך: @(((100 - (item.ShopPrice / item.ShopOldPrice) * 100)).ToString("0"))%
                        </text>
                    }
                </div>

                <div class="links_part1">
                    @using (Html.BeginForm("Index", "ShopCart", FormMethod.Get))
                    {

                        <input class="span2" type="hidden" name="Quantity" value="1" placeholder="@RP.TVL("Quantity")...">
                        <input name="ID" value="@item.ID" type="hidden" />
                        <button type="submit" class="">הוסף לעגלה</button>

                    }
                    @*<a href="#"></a>*@
                </div>
            </li>
        }
    </ul>
    <div class="clear"></div>
</div>
<div class="cmptns_srch1_bott">
    <ul>
        <li>
            <a href="mailto:?subject=Idive - @(Model.Title)&body=@(link)"><img src="/Content/DesignFiles/Idive/user_icon1.png" alt=""></a>
        </li>
        <li>
            <a href="https://twitter.com/share" @(SF.GetLangCodeThreading() == "he-IL" ? "data-lang=he" : "") class="twitter-share-button">Tweet</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
        </li>
    </ul>
    <div class="clear"></div>
</div>
<div class="topic1_load_more">
    @Html.Action("_Banner", "PagePart", new { Num = 1, BannerGroup = "באנר בתחתית עמודי התוכן", pageId = ViewBag.ID })
</div>
