@model Uco.Models.ShopCategoryAllPage
@{
    Layout = ViewBag.Layout;
    Uco.Models.Pagination paging = ViewBag.Pagination;
    var bradcrumbs = SF.GetBradcrumbs(Model);
}

<div class="brdcms">
    <ul>
        <li>
            <a href="/">@RP.T("Homepage.Breadcrumb")</a>
        </li>
        @foreach (var b in bradcrumbs)
        {
            <li>
                <a href="@Url.Content(b.Url)">@b.Title</a>
            </li>
        }
    </ul>
    <div class="clear"></div>
</div>

<div class="page_main_heading"><h2>@Model.Title</h2></div>
<div class="topics2_listing">
    <ul>

        @{
            int i = 0;
        }
        @foreach (var item in ViewBag.Items)
        {
            i++;
            <li class="@(i % 3 == 0 ? "dfrnt_color" : "") @(i > 3 ? "padding_top_box" : "")" style="height:auto">
                <div class="topics2_lstng_img1">
                    @if (!string.IsNullOrEmpty(item.Pic))
                    {
                        <a href="@Url.Content(item.Url)"><img src="@Url.Content(SF.GetImageUrl(item.Pic, 202, 123, false, true))" alt=""></a>

                    }
                </div>
                <div class="topics2_lstng_head"><a href="@Url.Content(item.Url)">@item.Title</a></div>
                <div class="topics2_lstng_text">
                    @Html.Raw(item.ShortDescriptionFix)
                </div>
                <div class="topics2_lstng_textLink"><a href="@Url.Content(item.Url)">להמשך >></a></div>
            </li>
        }
    </ul>
    <div class="clear"></div>
</div>
@Html.Partial("_Pagination", paging)
<div class="topic1_text1 no_border">@Html.Raw(Model.Text)</div>
<div class="topic1_load_more">
    @Html.Action("_Banner", "PagePart", new { Num = 1, BannerGroup = "באנר בתחתית עמודי התוכן", pageId = ViewBag.ID })
</div>