@model Uco.Models.ChangePasswordModel
@{
    ViewBag.Title = Html.R("ChangePassword");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="brdcms">
    <ul>
        <li><a href="/">@RP.T("MainPageText")</a></li>
        <li>@Html.R("ChangePassword")</li>
    </ul>
    <div class="clear"></div>
</div>

<div class="page_main_heading"><h2>@Html.R("ChangePassword")</h2></div>
<div class="votes_text1">
    @Html.R("length1") @Membership.MinRequiredPasswordLength @Html.R("length2")
</div>

    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form3" }))
{
    <div class="new_pge3_row1" style="border: none;">
        @Html.ValidationSummary(true, @Html.R("Errors"))
        <div>
            <div class="row">
                <div class="editor-label">
                    @Html.LabelFor(m => m.OldPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "single-line" })
                </div>
                <div class="clear"></div>
                <span class="field-validation-error" data-valmsg-for="name">
                    @Html.ValidationMessageFor(m => m.OldPassword)
                    </span>
            </div>
            <div class="row">
                <div class="editor-label">
                    @Html.LabelFor(m => m.NewPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "single-line" })
                </div>
                <div class="clear"></div>
                <span class="field-validation-error" data-valmsg-for="name">
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </span>                
            </div>
            <div class="row">
                <div class="editor-label">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "single-line" })
                </div>
                <div class="clear"></div>
                <span class="field-validation-error" data-valmsg-for="name">
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </span>
            </div>
                <p>
                    <input type="submit" value="@Html.R("ChangePasswordSend")" class="k-button" />
                </p>
            </div>
    </div>
}
