@model string
@using Uco.Infrastructure

@{
    ViewBag.Title = RP.T("Views.Account.SendPasswordSuccess.ViewBagTitle");
    ViewBag.Keywords = "";
    ViewBag.Description = "";
    ViewBag.Url = "/Account/SendPasswordSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="brdcms">
    <ul>
        <li><a href="/">@RP.T("MainPageText")</a></li>
        <li>@RP.T("Views.Account.SendPasswordSuccess.H2Text")</li>
    </ul>
    <div class="clear"></div>
</div>

<div class="page_main_heading">
    <h2>@RP.T("Views.Account.SendPasswordSuccess.H2Text")</h2>
</div>

<div>
    <div class="votes_text1">
        @Html.R("SentToYouEmail")
    </div>
    <br />
    <a href="@Url.Content("~/")">@Html.R("BackToSite")</a>
</div>
<div class="clear"></div>