@model string
@{
    ViewBag.Title = RP.T("Views.Account.SendPassword.ViewBagTitle");
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="brdcms">
    <ul>
        <li><a href="/">@RP.T("MainPageText")</a></li>
        <li>@RP.T("Views.Account.SendPassword.H2Text")</li>
    </ul>
    <div class="clear"></div>
</div>
<div class="page_main_heading"><h2>@RP.T("Views.Account.SendPassword.H2Text")</h2></div>

@using (Html.BeginForm("SendPassword", "Account", FormMethod.Post, new { @class="form3 sendPassword" }))
{
    @Html.ValidationSummary(true, @Html.R("LogOnError"))
    <div class="row">
        <div class="editor-label">
            @RP.T("Views.Account.SendPassword.Email"):
        </div>
        <div class="editor-field">
            @Html.TextBox("Model")
        </div>
        <div class="clear"></div>
    </div>
    <div class="row">
        @Html.Partial("_Captcha", new Uco.Models.Captcha())
        @Html.Partial("_InvisibleCaptcha", new Uco.Models.InvisibleCaptcha())
    </div>
    <div class="send_password_btn">
        <input type="submit" class="loginb k-button" value="@Html.R("Send")" />
        <div>
            <a href="@Url.Action("LogOn")">@Html.R("BackToLogin")</a>
        </div>
        <div>
            <a href="@Url.Content("~/")">@Html.R("BackToSite")</a>
        </div>
    </div>
}