@model Uco.Models.MagazineBanner1

@{
    ViewBag.Title = RP.T("Admin.MagazineBanner1.Create.Title");
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNoTree.cshtml";
}
<h2>@RP.T("Admin.MagazineBanner1.Create.Title")</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <p>
        <input type="submit" value="@RP.T("Admin.Save")" class="k-button k-state-default" /> @Html.ActionLink(RP.T("Admin.BackToList"), "Index")
    </p>
}