@model Uco.Models.Settings
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNoTree.cshtml";
}
<h2>@ ViewBag.Title</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <div class="editor-label">@Html.LabelFor(m => m.ShopShippingUse)</div>
    <div class="editor-field">@Html.EditorFor(m => m.ShopShippingUse)</div>
    
    <div class="editor-label">@Html.LabelFor(m => m.ShopShippingSelfUse)</div>
    <div class="editor-field">@Html.EditorFor(m => m.ShopShippingSelfUse)</div>
    
    <div class="editor-label">@Html.LabelFor(m => m.ShopShippingSelfText)</div>
    <div class="editor-field">@Html.EditorFor(m => m.ShopShippingSelfText)</div>
    
    <div class="editor-label">@Html.LabelFor(m => m.ShopShippingPrice)</div>
    <div class="editor-field">@Html.EditorFor(m => m.ShopShippingPrice)</div>
    
    <div class="editor-label">@Html.LabelFor(m => m.ShopShippingDays)</div>
    <div class="editor-field">@Html.EditorFor(m => m.ShopShippingDays)</div>
    
    <div class="editor-label">@Html.LabelFor(m => m.ShopShippingName)</div>
    <div class="editor-field">@Html.EditorFor(m => m.ShopShippingName)</div>
    
    <div class="editor-label">@Html.LabelFor(m => m.ShopShippingText)</div>
    <div class="editor-field">@Html.EditorFor(m => m.ShopShippingText)</div>
    
    <p class="clear editor-submit"><input type="submit" class="k-button" value="שמור" /></p>
}